@media (max-width: 1200px) {
  .container {
    max-width: 902px;
  }

  .up {
    display: flex;
  }

  .up__logo svg {
    width: 70%;
  }

  .top {
    padding: 20px 39px;
  }

  .top__logo {
    display: none;
  }

  .bottom {
    padding: 9px 39px;
  }

  .bottom__item:not(:last-child) {
    margin-right: 27px;
  }

  .btn__playaudio {
    width: 150px;
  }

  .btn__stream::after {
    left: 36px;
  }

  .bottom__image {
    display: none;
  }

  .hero {
    padding-bottom: 83px;
  }

  .hero__container {
    padding: 0 40px;
  }

  .hero__text {
    padding-top: 62px;
    max-width: 539px;
  }

  .hero__picture {
    padding-top: 83px;
  }

  .hero__title {
    margin-bottom: 14px;
  }

  .hero__descr {
    margin-bottom: 47px;
  }
}

@media (max-width: 902px) {
  .container {
    max-width: 576px;
  }

  .up {
    padding: 18px 18px;
  }

  .burger {
    display: block;
  }

  .top {
    padding: 20px 18px;
  }

  .top__nav {
    display: none;
  }

  .bottom {
    padding: 9px 18px;
  }

  .bottom__item:not(:last-child) {
    margin-right: 29px;
  }

  .btn__playaudio {
    border: none;
    width: 36px;
  }

  .btn__archive {
    display: none;
  }

  .btn__stream::before {
    display: none;
  }

  .btn__stream::after {
    display: none;
  }

  .hero {
    padding-bottom: 113px;
  }

  .hero__container {
    padding: 0 18px;
  }

  .hero__text {
    padding-top: 90px;
  }

  .hero__picture {
    display: none;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 320px;
  }

  .up {
    padding: 9px 32px;
  }

  .up__logo svg {
    width: 54%;
  }

  .up__auth {
    display: block;
  }

  .top {
    padding: 12px 32px;
  }

  .top__search {
    margin-right: 0;
  }

  .top__auth {
    display: none;
  }

  .bottom {
    justify-content: center;
    padding: 12px 32px;
  }

  .bottom__nav {
    display: none;
  }

  .btn__stream {
    display: none;
  }

  .btn__mobile {
    display: flex;
  }

  .btn__mobile svg {
    margin-right: 7px;
  }

  .hero {
    padding-bottom: 55px;
  }

  .hero__container {
    padding: 0 32px;
  }

  .hero__text {
    padding-top: 42px;
  }

  .hero__title {
    margin-bottom: 7px;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
  }

  .hero__descr {
    margin-bottom: 36px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  }

  .hero__btn {
    padding: 15px 44px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
  }


}
