/* default */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'Muller';
  src: url("../fonts/MullerRegular.woff2") format('woff2'),
    url("../fonts/MullerRegular.woff") format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url("../fonts/MullerRegularItalic.woff2") format('woff2'),
    url("../fonts/MullerRegularItalic.woff") format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: url("../fonts/MullerBold.woff2") format('woff2'),
    url("../fonts/MullerBold.woff") format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url("../fonts/MullerMedium.woff2") format('woff2'),
    url("../fonts/MullerMedium.woff") format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url("../fonts/MullerLightItalic.woff2") format('woff2'),
    url("../fonts/MullerLightItalic.woff") format('woff');
  font-display: swap;
  font-weight: 300;
  font-style: italic;
}

body {
  font-family: 'Muller', sans-serif;
  font-weight: 400;
  background-color: var(--color-light-gray);
}

:root {
  --color-bold-blue: #121723;
  --color-semibold-blue: #292E39;
  --color-bold-gray: #A1A6B4;
  --color-regular-gray: #D2D5DD;
  --color-light-gray: #E6E8EC;
  --color-bold-yellow: #BB973E;
  --color-light-yellow: #F0D288;
  --color-regular-blue: #0039A6;
  --color-regular-red: #D52B1E;
  --color-bold-purple: #4F28A5;
  --color-regular-purple: #6D31EE;
  --color-light-purple: #AA9DFA;
  --color-lighter-gray: #F5F6F7;
  --color-white: #FFF;
}

/* global */

.container {
  max-width: 1200px;
  padding: 0 45px;
  margin: 0 auto;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* header */

.burger {
  display: none;
  width: 24px;
  height: 24px;
  position: relative;
  transition-duration: 1s;
  cursor: pointer;
}

.burger .burger__line {
  height: 3px;
  width: 24px;
  top: 10px;
  background-color: var(--color-regular-purple);
  border-radius: 4px;
  position: absolute;
  transition-duration: .25s;
  transition-delay: .25s;
}

.burger .burger__line:before {
  left: 0;
  position: absolute;
  top: -11px;
  height: 3px;
  width: 24px;
  background-color: var(--color-regular-purple);
  content: "";
  border-radius: 4px;
  transition-duration: .25s;
  transition: transform .25s, top .25s .25s;
}

.burger .burger__line:after {
  left: 0;
  position: absolute;
  top: 10px;
  height: 3px;
  width: 24px;
  background-color: var(--color-regular-purple);
  content: "";
  border-radius: 4px;
  transition-duration: .25s;
  transition: transform .25s, top .25s .25s;
}

.burger.open .burger__line {
  transition-duration: 0.1s;
  transition-delay: .25s;
  background: transparent;
}

.burger.open .burger__line:before {
  transition: top .25s, transform .25s .25s;
  top: 0px;
  transform: rotateZ(-45deg);
}

.burger.open .burger__line:after {
  transition: top 0.4s, transform .25s .25s;
  top: 0px;
  transform: rotateZ(45deg);
}

.header__up {
  background-color: var(--color-light-gray);
}

.up {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 20px 39px;
  padding-bottom: 15px;
}

.up__auth {
  display: none;
  padding: 7px 22px;
  border: 2px solid var(--color-bold-blue);
  border-radius: 77px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-bold-blue);
}

.header {
  background-color: var(--color-white);
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 45px;
  padding-bottom: 19px;
}

.top__logo {
  display: block;
}

.top__list {
  display: flex;
}

.top__link {
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-bold-blue);
  transition: color .2s ease-in-out, background-color .2s ease-in-out, padding .2s ease-in-out;
}

.top__link:focus {
  padding: 4px 10px;
  background-color: var(--color-light-purple);
  color: var(--color-white);
}

.top__link:hover {
  padding: 0;
  background-color: transparent;
  color: var(--color-regular-purple);
}

.top__link:active {
  padding: 0;
  color: var(--color-bold-purple);
}

.top__item:not(:last-child) {
  margin-right: 59px;
}

.top__wrapper {
  display: flex;
  align-items: center;
}

.top__search {
  outline: none;
  margin-right: 24px;
}

.top__search svg {
  stroke: var(--color-regular-purple);
  transition: stroke .2s ease-in-out;
}

.top__search:focus svg,
.top__search:hover svg {
  stroke: var(--color-light-purple);
}

.top__search:active svg {
  stroke: var(--color-bold-purple);
}

.top__auth {
  outline: none;
  padding: 10px 31px;
  border: 2px solid var(--color-bold-blue);
  border-radius: 77px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-bold-blue);
  transition: border-color .2s ease-in-out, color .2s ease-in-out, background-color .2s ease-in-out;
}

.top__auth:focus {
  background-color: var(--color-light-purple);
  color: var(--color-bold-blue);
}

.top__auth:hover {
  background-color: var(--color-bold-blue);
  color: var(--color-white);
}

.top__auth:active {
  border-color: var(--color-bold-purple);
  background-color: var(--color-bold-purple);
  color: var(--color-white);
}

.header__bottom {
  border: 1px solid var(--color-light-gray);
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 45px;
}

.bottom__list {
  display: flex;
}

.bottom__link {
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-bold-blue);
  transition: color .2s ease-in-out, background-color .2s ease-in-out, padding .2s ease-in-out;
}

.bottom__link:focus {
  padding: 4px 10px;
  background-color: var(--color-light-purple);
  color: var(--color-white);
}

.bottom__link:hover {
  padding: 0;
  background-color: transparent;
  color: var(--color-regular-purple);
}

.bottom__link:active {
  padding: 0;
  color: var(--color-bold-purple);
}

.bottom__item:not(:last-child) {
  margin-right: 53px;
}

.bottom__wrapper {
  display: flex;
  align-items: center;
}

.btn__playaudio {
  position: relative;
  outline: none;
  width: 175px;
  height: 40px;
  border-right: 1px solid var(--color-light-gray);
}

.btn__playaudio svg {
  position: absolute;
  top: 8px;
  left: 11px;
  fill: var(--color-bold-gray);
  transition: fill .2s ease-in-out;
}

.btn__playaudio:focus svg {
  fill: var(--color-light-purple);
}

.btn__playaudio:hover svg {
  fill: var(--color-regular-purple);
}

.btn__playaudio:active svg {
  fill: var(--color-bold-purple);
}

.btn__archive {
  position: relative;
  border-left: 1px solid var(--color-light-gray);
}

.btn__archive::before {
  content: 'Ранее в эфире';
  position: absolute;
  top: 3px;
  left: 42px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: var(--color-bold-gray)
}

.btn__archive::after {
  content: '«Музыка»';
  position: absolute;
  top: 20px;
  left: 42px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-bold-blue);
}

.btn__stream {
  position: relative;
}

.btn__stream::before {
  content: 'Сейчас в эфире';
  position: absolute;
  top: 3px;
  left: 42px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: var(--color-bold-gray)
}

.btn__stream::after {
  content: '«Как так?»';
  position: absolute;
  top: 20px;
  left: 42px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-bold-blue);
}

.btn__mobile {
  margin-right: 7px;
  display: none;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-regular-purple);
}

/* hero */

.hero {
  background-color: var(--color-white);
  padding-bottom: 34px;
}

.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__text {
  max-width: 635px;
  padding-top: 10px;
}

.hero__title {
  margin: 0;
  margin-bottom: 14px;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  color: var(--color-bold-blue);
}

.hero__title-italic {
  font-weight: 400;
  font-style: italic;
}

.hero__descr {
  margin: 0;
  margin-bottom: 70px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-bold-blue);
}

.hero__descr-link {
  position: relative;
  outline: none;
  color: var(--color-regular-purple);
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.hero__descr-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  transition: width .2s ease-in-out, background-color .2s ease-in-out, padding .2s ease-in-out;
}

.hero__descr-link:focus {
  padding: 3px;
  background-color: var(--color-light-purple);
  color: var(--color-white);
}

.hero__descr-link:hover {
  padding: 0;
  background-color: transparent;
  color: var(--color-regular-purple);
}

.hero__descr-link:active {
  padding: 0;
  background-color: transparent;
  color: var(--color-bold-purple);
}

.hero__descr-link:hover::after {
  width: 100%;
  background-color: var(--color-regular-purple);
}

.hero__descr-link:active::after {
  width: 100%;
  background-color: var(--color-bold-purple);
}

.hero__btn {
  padding: 23px 52px;
  border-radius: 40px;
  border: 2px solid var(--color-regular-purple);
  outline: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  background-color: var(--color-regular-purple);
  color: var(--color-white);
  transition: background-color .2s ease-in-out, border-color .2s ease-in-out;
}

.hero__btn:focus {
  background-color: var(--color-light-purple);
}

.hero__btn:hover {
  border-color: var(--color-light-purple);
  background-color: var(--color-light-purple);
}

.hero__btn:active {
  border-color: var(--color-bold-purple);
  background-color: var(--color-bold-purple);
}

.hero__picture {
  padding-top: 30px;
}

/* podcast */

.podcast {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  margin: 0;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: var(--color-bold-blue);
}

.podcast__list {
  display: flex;
  flex-wrap: wrap;
}

.podcast__item {
  margin-bottom: 30px;
  width: 48.6%;
}

.podcast__item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.podcast__content {
  position: relative;
  display: flex;
  max-width: 540px;
  min-height: 100%;
  background-color: var(--color-white);
}

.podcast__content img {
  display: block;
  height: 100%;
}

.podcast__background {
  width: 112px;
  background-color: var(--color-bold-gray);
}

.podcast__date {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 51px;
  height: 16px;
  padding: 3px 6px;
  background-color: var(--color-light-gray);
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: var(--color-bold-blue);
}

.podcast__info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 79%;
}

.podcast__top {
  display: flex;
  justify-content: space-between;
}

.podcast__next {
  text-align: center;
}

.podcast__text {
  padding-top: 24px;
  padding-left: 30px;
}

.podcast__time {
  display: block;
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: var(--color-bold-blue);
}

.podcast__title {
  margin: 0;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-bold-blue);
}

.podcast__author {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-bold-gray);
}

.podcast__event {
  position: absolute;
  right: 30px;
  top: 30px;
  outline: none;
}

.podcast__btn-play circle {
  stroke: var(--color-bold-gray);
  transition: stroke .2s ease-in-out, fill .2s ease-in-out;
}

.podcast__btn-play path {
  fill: var(--color-bold-gray);
  transition: fill .2s ease-in-out;
}

.podcast__event:focus .podcast__btn-play circle {
  stroke: var(--color-light-purple);
}

.podcast__event:focus .podcast__btn-play path {
  fill: var(--color-light-purple);
}

.podcast__event:hover .podcast__btn-play circle {
  stroke: var(--color-regular-purple);
}

.podcast__event:hover .podcast__btn-play path {
  fill: var(--color-regular-purple);
}

.podcast__event:active .podcast__btn-play circle {
  stroke: var(--color-bold-purple);
  fill: var(--color-bold-purple);
}

.podcast__event:active .podcast__btn-play path {
  fill: var(--color-white);
}

.podcast__wrapper {
  border-top: 1px solid var(--color-light-gray);
  padding: 4px 27px;
}

.podcast__wrapper-btn {
  outline: none;
  padding: 3px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-bold-gray);
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

.podcast__wrapper-btn:not(:last-child) {
  margin-right: 23px;
}

.podcast__btn-view {
  cursor: default;
}

.podcast__btn-like svg path {
  fill: transparent;
  stroke: var(--color-bold-gray);
  transition: fill .2s ease-in-out, stroke .2s ease-in-out;
}

.podcast__btn-like:focus {
  background-color: var(--color-light-purple);
  color: var(--color-white);
}

.podcast__btn-like:focus svg path {
  fill: transparent;
  stroke: var(--color-white);
}

.podcast__btn-like:hover {
  background-color: transparent;
  color: var(--color-regular-purple);
}

.podcast__btn-like:hover svg path {
  fill: transparent;
  stroke: var(--color-regular-purple);
}

.podcast__btn-like:active {
  background-color: transparent;
  color: var(--color-bold-purple);
}

.podcast__btn-like:active svg path {
  fill: var(--color-bold-purple);
  stroke: var(--color-bold-purple);
}

.podcast__btn-share svg path {
  fill: transparent;
  stroke: var(--color-bold-gray);
  transition: fill .2s ease-in-out, stroke .2s ease-in-out;
}

.podcast__btn-share:focus {
  background-color: var(--color-light-purple);
  color: var(--color-white);
}

.podcast__btn-share:focus svg path {
  fill: transparent;
  stroke: var(--color-white);
}

.podcast__btn-share:hover {
  background-color: transparent;
  color: var(--color-regular-purple);
}

.podcast__btn-share:hover svg path {
  fill: transparent;
  stroke: var(--color-regular-purple);
}

.podcast__btn-share:active {
  background-color: transparent;
  color: var(--color-bold-purple);
}

.podcast__btn-share:active svg path {
  fill: var(--color-bold-purple);
  stroke: var(--color-bold-purple);
}

.podcast__next {
  margin-top: 30px;
}

.podcast__btn {
  outline: none;
  padding: 25px 54px;
  border: 2px solid var(--color-regular-purple);
  border-radius: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-regular-purple);
  transition: background-color .2s ease-in-out, border-color .2s ease-in-out, color .2s ease-in-out;
}

.podcast__btn:focus {
  background-color: var(--color-light-purple);
  border-color: var(--color-regular-purple);
  color: var(--color-white);
}

.podcast__btn:hover {
  border-color: var(--color-regular-purple);
  background-color: var(--color-regular-purple);
  color: var(--color-white);
}

.podcast__btn:active {
  border-color: var(--color-bold-purple);
  background-color: var(--color-bold-purple);
  color: var(--color-white);
}
